/* screen - index */

.index {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3192px;
  min-width: 1960px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.index .after-a-thoroug-vices-to-others-nN8Qmv {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: 639px;
}
.index .arrow-MQLUBL {
  background-color: transparent;
  height: 114px;
  left: 343px;
  position: absolute;
  top: 347px;
  transform: rotate(180deg);
  width: 381px;
}
.index .arrow-ldah74 {
  background-color: transparent;
  height: 114px;
  left: 811px;
  position: absolute;
  top: 136px;
  width: 381px;
}
.index .arrow-yNQSCs {
  background-color: transparent;
  height: 114px;
  left: 811px;
  position: absolute;
  top: 558px;
  width: 381px;
}
.index .asset-under-management-mnmrR5 {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 247px;
}
.index .banner-IO3Fu5 {
  background-color: transparent;
  height: 669px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1960px;
}
.index .bg-9VI0S0 {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.index .bg-ACsS92 {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.index .bg-HmSrqv {
  background-color: transparent;
  height: 108px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.index .bg-SbixHF {
  background-color: transparent;
  height: 188px;
  left: -64px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 512px;
}
.index .bg-YiVkjE {
  background-color: transparent;
  height: 122px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.index .bg-cNEqcy {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.index .bg-excJKx {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.index .bg-hvSp80 {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.index .bg-mB3e0W {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.index .callblack24dp-1-EiZwPC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.index .circles-ek9GUE {
  background-color: transparent;
  height: 750px;
  left: 470px;
  position: absolute;
  top: 20px;
  width: 1021px;
}
.index .complete-verification-kyc-excJKx {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 425px;
}
.index .easy-to-use-pla-d-administrator-cNEqcy {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 595px;
}
.index .ellipse-66-X8pszr {
  background-color: transparent;
  border: 1px solid #bac3dc;
  border-radius: 170.13888549804688px/125px;
  height: 250px;
  left: 340px;
  opacity: 0.6;
  position: absolute;
  top: 250px;
  width: 340px;
}
.index .ellipse-67-X8pszr {
  background-color: transparent;
  border-radius: 238.19444274902344px/175px;
  height: 350px;
  left: 272px;
  opacity: 0.5;
  position: absolute;
  top: 200px;
  width: 476px;
}
.index .ellipse-68-X8pszr {
  background-color: transparent;
  border-radius: 306.25px/225px;
  height: 450px;
  left: 204px;
  opacity: 0.4;
  position: absolute;
  top: 150px;
  width: 612px;
}
.index .ellipse-69-X8pszr {
  background-color: transparent;
  border-radius: 374.3055419921875px/275px;
  height: 550px;
  left: 136px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 100px;
  width: 749px;
}
.index .ellipse-7-VKYN6R {
  background-color: transparent;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 68px;
}
.index .ellipse-70-X8pszr {
  background-color: transparent;
  border-radius: 442.3611145019531px/325px;
  height: 650px;
  left: 68px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 50px;
  width: 885px;
}
.index .ellipse-71-X8pszr {
  background-color: transparent;
  border-radius: 510.4166564941406px/375px;
  height: 750px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 1021px;
}
.index .emailblack24dp-1-aP1HfY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.index .footer-ek9GUE {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: absolute;
  top: 1148px;
  width: 1966px;
}
.index .i-have-been-mos-olio-with-inbux-VKYN6R {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: 639px;
}
.index .inbu-WMJxNn {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.index .inforambertorguk-EiZwPC {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 152px;
}
.index .inforambertorguk-aP1HfY {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 137px;
}
.index .kemi-inc-VKYN6R {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  white-space: nowrap;
  width: 74px;
}
.index .kemi-popoola-VKYN6R {
  background-color: transparent;
  height: 20px;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 218px;
  white-space: nowrap;
  width: 172px;
}
.index .location-xpxKb1 {
  background-color: transparent;
  height: 20px;
  left: 829px;
  position: absolute;
  top: 30px;
  width: 414px;
}
.index .locationonblack24dp-1-qvbkhB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.index .logo-xpxKb1 {
  background-color: transparent;
  height: 16px;
  left: 212px;
  position: absolute;
  top: 32px;
  width: 87px;
}
.index .mail-xpxKb1 {
  background-color: transparent;
  height: 20px;
  left: 381px;
  position: absolute;
  top: 30px;
  width: 175px;
}
.index .manage-your-portfolio-cNEqcy {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 331px;
}
.index .number-HmSrqv {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.index .number-YiVkjE {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.index .number-cNEqcy {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.index .number-excJKx {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.index .paid-in-total-earnings-gboWyf {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 198px;
}
.index .paid-invoices-Mawrx2 {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 124px;
}
.index .phone-xpxKb1 {
  background-color: transparent;
  height: 20px;
  left: 598px;
  position: absolute;
  top: 30px;
  width: 190px;
}
.index .pic-nN8Qmv {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 68px;
}
.index .privacy-policy-xpxKb1 {
  background-color: transparent;
  height: auto;
  left: 1635px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 115px;
}
.index .ready-to-get-started-IO3Fu5 {
  background-color: transparent;
  height: 812px;
  left: 212px;
  position: absolute;
  top: 1108px;
  width: 1537px;
}
.index .ready-to-get-started-yNQSCs {
  background-color: transparent;
  height: auto;
  left: 551px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 435px;
}
.index .rectangle-107-ek9GUE {
  background-color: transparent;
  height: 10px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 120px;
  width: 1536px;
}
.index .rectangle-108-ek9GUE {
  background-color: transparent;
  height: 120px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1536px;
}
.index .rectangle-109-ek9GUE {
  background-color: transparent;
  height: 10px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 542px;
  width: 1536px;
}
.index .rectangle-110-ek9GUE {
  background-color: transparent;
  height: 214px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 552px;
  width: 1536px;
}
.index .rectangle-1720-VKYN6R {
  background-color: transparent;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 703px;
}
.index .rectangle-1720-nN8Qmv {
  background-color: transparent;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 703px;
}
.index .rectangle-1977-Mawrx2 {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.index .rectangle-1977-QXGxzz {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.index .rectangle-1977-gboWyf {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.index .rectangle-1977-mnmrR5 {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.index .rectangle-2025-xpxKb1 {
  background-color: var(--porcelain);
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1960px;
}
.index .register-YiVkjE {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 129px;
}
.index .ruth-inc-nN8Qmv {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  white-space: nowrap;
  width: 70px;
}
.index .ruth-momodu-nN8Qmv {
  background-color: transparent;
  height: 20px;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 218px;
  white-space: nowrap;
  width: 178px;
}
.index .sign-up-and-tel-vestment-status-YiVkjE {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 533px;
}
.index .sign-up-ek9GUE {
  background-color: transparent;
  height: 60px;
  left: 788px;
  position: absolute;
  top: 362px;
  width: 386px;
}
.index .simplify-get-th-rns-you-deserve-IO3Fu5 {
  background-color: transparent;
  height: 1256px;
  left: 0px;
  position: absolute;
  top: 1920px;
  width: 1962px;
}
.index .simplify-get-th-rns-you-deserve-ek9GUE {
  background-color: transparent;
  height: auto;
  left: 603px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 250px;
  white-space: nowrap;
  width: 757px;
}
.index .span0-0xst2w {

}
.index .span1-0xst2w {

}
.index .start-now-SbixHF {
  background-color: transparent;
  height: 18px;
  left: 139px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 106px;
}
.index .terms-conditions-xpxKb1 {
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 163px;
}
.index .testimonials-ek9GUE {
  background-color: transparent;
  height: 356px;
  left: 212px;
  position: absolute;
  top: 672px;
  width: 1537px;
}
.index .testimonials-xYJISx {
  background-color: transparent;
  height: auto;
  left: 642px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 252px;
}
.index .this-unlocks-ac-rtfolio-welcome-excJKx {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 595px;
}
.index .vector-5WTjem {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.index .vector-9I0xwf {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.index .vector-AmRRyt {
  background-color: transparent;
  height: 85.00%;
  left: 18.78%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.00%;
  width: 62.45%;
}
.index .vector-MyxBdz {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.index .vector-OCEP9e {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 169px;
  width: 17px;
}
.index .vector-Ptyusq {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 367px;
}
.index .vector-Wz9ovl {
  background-color: transparent;
  height: 12px;
  left: 1111px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  transform: rotate(-180deg);
  width: 24px;
}
.index .vector-XjwkE1 {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.index .vector-fG2rhV {
  background-color: transparent;
  height: 12px;
  left: 357px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 24px;
}
.index .vector-ixG1Ns {
  background-color: transparent;
  height: 97px;
  left: 1126px;
  position: absolute;
  top: -1px;
  transform: rotate(-180deg);
  width: 367px;
}
.index .vector-mrj8AR {
  background-color: transparent;
  height: 12px;
  left: 357px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 24px;
}
.index .vector-pA1Jrr {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.index .vector-rIuO3k {
  background-color: transparent;
  height: 70.00%;
  left: 6.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 86.33%;
}
.index .vector-xYJISx {
  background-color: transparent;
  height: 20px;
  left: 1519px;
  mix-blend-mode: normal;
  position: absolute;
  top: 169px;
  width: 17px;
}
.index .vector-xeqsdF {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 367px;
}
.index .vector-xwl7jy {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.index .vendors-served-QXGxzz {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 150px;
}
.index .watch-your-holdings-grow-HmSrqv {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 401px;
}
.index .why-us-IO3Fu5 {
  background-color: transparent;
  height: 199px;
  left: 212px;
  position: absolute;
  top: 789px;
  width: 1537px;
}
.index .why-us-k8NwuL {
  background-color: transparent;
  height: auto;
  left: 682px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 174px;
}
.index .x-WMJxNn {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.index .x1-k8NwuL {
  background-color: transparent;
  height: 107px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 363px;
}
.index .x1-mB3e0W {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 21px;
}
.index .x1-xYJISx {
  background-color: transparent;
  height: 264px;
  left: 49px;
  position: absolute;
  top: 92px;
  width: 708px;
}
.index .x1-yNQSCs {
  background-color: transparent;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 772px;
}
.index .x1200000-QXGxzz {
  background-color: transparent;
  height: 30px;
  left: 110px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 140px;
}
.index .x130-b-Mawrx2 {
  background-color: transparent;
  height: 30px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 101px;
}
.index .x2-9VI0S0 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 26px;
}
.index .x2-k8NwuL {
  background-color: transparent;
  height: 107px;
  left: 392px;
  position: absolute;
  top: 92px;
  width: 363px;
}
.index .x2-xYJISx {
  background-color: transparent;
  height: 264px;
  left: 784px;
  position: absolute;
  top: 92px;
  width: 708px;
}
.index .x2-yNQSCs {
  background-color: transparent;
  height: 143px;
  left: 768px;
  position: absolute;
  top: 282px;
  width: 772px;
}
.index .x20-b-mnmrR5 {
  background-color: transparent;
  height: 30px;
  left: 144px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 73px;
}
.index .x2021-inbux-all-rights-reserved-xpxKb1 {
  background-color: transparent;
  height: auto;
  left: 864px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 233px;
}
.index .x270-ozumba-mbad-ia-island-lagos-qvbkhB {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 376px;
}
.index .x3-ACsS92 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 26px;
}
.index .x3-k8NwuL {
  background-color: transparent;
  height: 107px;
  left: 784px;
  position: absolute;
  top: 92px;
  width: 363px;
}
.index .x3-yNQSCs {
  background-color: transparent;
  height: 143px;
  left: 0px;
  position: absolute;
  top: 493px;
  width: 772px;
}
.index .x4-hvSp80 {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 29px;
}
.index .x4-k8NwuL {
  background-color: transparent;
  height: 107px;
  left: 1176px;
  position: absolute;
  top: 92px;
  width: 363px;
}
.index .x4-yNQSCs {
  background-color: transparent;
  height: 108px;
  left: 768px;
  position: absolute;
  top: 704px;
  width: 770px;
}
.index .x5-b-gboWyf {
  background-color: transparent;
  height: 30px;
  left: 153px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 55px;
}
