/* screen - press-releases */

.press-releases {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2108px;
  min-width: 1960px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.press-releases .about-us-adWefH {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 77px;
}
.press-releases .apr-26-2021-ipkRzp {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 120px;
}
.press-releases .bg-4HjIDD {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .bg-c8cXi7 {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .bg-d3jaGf {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .bg-esvHBs {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .bg-ipkRzp {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .bg-xA9D0b {
  background-color: transparent;
  height: 505px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.press-releases .callblack24dp-1-o9SPuz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-4HjIDD {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-c8cXi7 {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-d3jaGf {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-esvHBs {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-ipkRzp {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .duis-ac-augue-u-isi-volutpat-ut-xA9D0b {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 379px;
  width: 666px;
}
.press-releases .emailblack24dp-1-Z1GvNV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.press-releases .faq-adWefH {
  background-color: transparent;
  height: auto;
  left: 378px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 39px;
}
.press-releases .field-eUk14w {
  background-color: transparent;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 119px;
}
.press-releases .footer-xiSQ35 {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: absolute;
  top: 1984px;
  width: 1966px;
}
.press-releases .header-xiSQ35 {
  background-color: transparent;
  height: 36px;
  left: 212px;
  position: absolute;
  top: 32px;
  width: 1535px;
}
.press-releases .headline-4HjIDD {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .headline-c8cXi7 {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .headline-d3jaGf {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .headline-esvHBs {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .headline-ipkRzp {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .headline-xA9D0b {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 343px;
  white-space: nowrap;
  width: 134px;
}
.press-releases .home-adWefH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 52px;
}
.press-releases .inbu-0x7QEV {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.press-releases .inbu-qruoOP {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.press-releases .inforambertorguk-Z1GvNV {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 137px;
}
.press-releases .inforambertorguk-o9SPuz {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 152px;
}
.press-releases .jun-01-2021-c8cXi7 {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 119px;
}
.press-releases .jun-05-2021-esvHBs {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 123px;
}
.press-releases .jun-10-2021-d3jaGf {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 119px;
}
.press-releases .location-JutAhE {
  background-color: transparent;
  height: 20px;
  left: 829px;
  position: absolute;
  top: 30px;
  width: 414px;
}
.press-releases .locationonblack24dp-1-a0rRto {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.press-releases .log-in-RWjFTC {
  background-color: transparent;
  height: 36px;
  left: 1417px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.press-releases .log-in-eUk14w {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 55px;
}
.press-releases .logo-JutAhE {
  background-color: transparent;
  height: 16px;
  left: 212px;
  position: absolute;
  top: 32px;
  width: 87px;
}
.press-releases .logo-RWjFTC {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 10px;
  width: 87px;
}
.press-releases .mail-JutAhE {
  background-color: transparent;
  height: 20px;
  left: 381px;
  position: absolute;
  top: 30px;
  width: 175px;
}
.press-releases .may-27-2021-4HjIDD {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 122px;
}
.press-releases .may-28-2021-xA9D0b {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 457px;
  white-space: nowrap;
  width: 124px;
}
.press-releases .menu-RWjFTC {
  background-color: transparent;
  height: 14px;
  left: 848px;
  position: absolute;
  top: 11px;
  width: 535px;
}
.press-releases .phone-JutAhE {
  background-color: transparent;
  height: 20px;
  left: 598px;
  position: absolute;
  top: 30px;
  width: 190px;
}
.press-releases .pic-4HjIDD {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .pic-c8cXi7 {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .pic-d3jaGf {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .pic-esvHBs {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .pic-ipkRzp {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .pic-xA9D0b {
  background-color: transparent;
  height: 299px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 720px;
}
.press-releases .press-releases-adWefH {
  background-color: transparent;
  height: auto;
  left: 212px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 124px;
}
.press-releases .press-releases-xiSQ35 {
  background-color: transparent;
  height: auto;
  left: 833px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  white-space: nowrap;
  width: 296px;
}
.press-releases .privacy-policy-JutAhE {
  background-color: transparent;
  height: auto;
  left: 1635px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 115px;
}
.press-releases .rectangle-2025-JutAhE {
  background-color: var(--porcelain);
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1960px;
}
.press-releases .span0-tNiLdM {

}
.press-releases .span1-tNiLdM {

}
.press-releases .subtract-xiSQ35 {
  background-color: transparent;
  height: 360px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 108px;
  width: 1960px;
}
.press-releases .support-adWefH {
  background-color: transparent;
  height: auto;
  left: 459px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 69px;
}
.press-releases .terms-conditions-JutAhE {
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 163px;
}
.press-releases .vector-7svXEs {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.press-releases .vector-8opjWe {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.press-releases .vector-FCEtxQ {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.press-releases .vector-Tv5j7n {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.press-releases .vector-WPScqq {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.press-releases .vector-bpYJxc {
  background-color: transparent;
  height: 85.00%;
  left: 18.78%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.00%;
  width: 62.45%;
}
.press-releases .vector-geLgxV {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.press-releases .vector-m8PSDE {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.press-releases .vector-oGPlfB {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.press-releases .vector-zVArkg {
  background-color: transparent;
  height: 70.00%;
  left: 6.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 86.33%;
}
.press-releases .x-0x7QEV {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.press-releases .x-qruoOP {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.press-releases .x1-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 212px;
  position: absolute;
  top: 301px;
  width: 757px;
}
.press-releases .x2-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 996px;
  position: absolute;
  top: 301px;
  width: 757px;
}
.press-releases .x2021-inbux-all-rights-reserved-JutAhE {
  background-color: transparent;
  height: auto;
  left: 864px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 233px;
}
.press-releases .x270-ozumba-mbad-ia-island-lagos-a0rRto {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 376px;
}
.press-releases .x3-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 212px;
  position: absolute;
  top: 830px;
  width: 757px;
}
.press-releases .x4-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 996px;
  position: absolute;
  top: 830px;
  width: 757px;
}
.press-releases .x5-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 212px;
  position: absolute;
  top: 1359px;
  width: 757px;
}
.press-releases .x6-xiSQ35 {
  background-color: transparent;
  height: 505px;
  left: 996px;
  position: absolute;
  top: 1359px;
  width: 757px;
}
