/* screen - support */

.support {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1663px;
  min-width: 1960px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.support .about-us-TWDged {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 77px;
}
.support .an-inbux-accred-that-they-make-4mmOdd {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 617px;
}
.support .an-inbux-accred-that-they-make-vVqBYX {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 617px;
}
.support .bg-4mmOdd {
  background-color: transparent;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 703px;
}
.support .bg-9bsDL7 {
  background-color: transparent;
  height: 76px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 752px;
}
.support .bg-LEiSbx {
  background-color: transparent;
  height: 76px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.support .bg-PiAILe {
  background-color: transparent;
  height: 384px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.support .bg-gtHA0x {
  background-color: transparent;
  height: 76px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.support .bg-vVqBYX {
  background-color: transparent;
  height: 214px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 703px;
}
.support .callblack24dp-1-MItWqZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .callblack24dp-1-bvV2x5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .callblack24dp-1-twuIkv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .contact-us-on-m-ay-10am-8pm-est-D4UDmI {
  background-color: transparent;
  height: auto;
  left: 576px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 56px;
  white-space: nowrap;
  width: 386px;
}
.support .edi-jana-vVqBYX {
  background-color: transparent;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: 167px;
}
.support .email-address-PiAILe {
  background-color: transparent;
  height: 66px;
  left: 44px;
  position: absolute;
  top: 84px;
  width: 685px;
}
.support .email-address-Wf2Vgm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 119px;
}
.support .emailblack24dp-1-9bsDL7 {
  background-color: transparent;
  height: 28px;
  left: 44px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 38px;
}
.support .emailblack24dp-1-APeG3c {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .emailblack24dp-1-EbdwrM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .emailblack24dp-1-LEiSbx {
  background-color: transparent;
  height: 28px;
  left: 44px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 38px;
}
.support .emailblack24dp-1-gtHA0x {
  background-color: transparent;
  height: 28px;
  left: 44px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 38px;
}
.support .emailblack24dp-1-yB2ju1 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .faq-TWDged {
  background-color: transparent;
  height: auto;
  left: 378px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 39px;
}
.support .field-0lnHNb {
  background-color: transparent;
  height: 168px;
  left: -65px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 810px;
}
.support .field-J61As1 {
  background-color: var(--white);
  border: 1px solid #c9ccd8;
  border-radius: 3px;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 681px;
}
.support .field-R6U8oG {
  background-color: transparent;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 119px;
}
.support .field-Wf2Vgm {
  background-color: var(--white);
  border: 0;
  border-radius: 3px;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  top: 26px;
  width: 681px;
}
.support .footer-WPXhzQ {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: absolute;
  top: 1537px;
  width: 1966px;
}
.support .gbemisola-awe-4mmOdd {
  background-color: transparent;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: 314px;
}
.support .group-4340-4mmOdd {
  background-color: transparent;
  height: 80px;
  left: 43px;
  position: absolute;
  top: 32px;
  width: 110px;
}
.support .group-4340-vVqBYX {
  background-color: transparent;
  height: 80px;
  left: 43px;
  position: absolute;
  top: 32px;
  width: 110px;
}
.support .header-WPXhzQ {
  background-color: transparent;
  height: 36px;
  left: 212px;
  position: absolute;
  top: 32px;
  width: 1535px;
}
.support .home-TWDged {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 52px;
}
.support .how-to-reach-us-D4UDmI {
  background-color: transparent;
  height: auto;
  left: 589px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 359px;
}
.support .how-to-reach-us-WPXhzQ {
  background-color: transparent;
  height: 186px;
  left: 212px;
  position: absolute;
  top: 301px;
  width: 1539px;
}
.support .inbu-IRxZwn {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.support .inbu-ZWOrP6 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.support .inforambertorguk-9bsDL7 {
  background-color: transparent;
  height: 20px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: 567px;
}
.support .inforambertorguk-APeG3c {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 157px;
}
.support .inforambertorguk-EbdwrM {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 130px;
}
.support .inforambertorguk-LEiSbx {
  background-color: transparent;
  height: 20px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: 205px;
}
.support .inforambertorguk-MItWqZ {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 134px;
}
.support .inforambertorguk-gtHA0x {
  background-color: transparent;
  height: 20px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  width: 228px;
}
.support .inforambertorguk-twuIkv {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 134px;
}
.support .inforambertorguk-yB2ju1 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 137px;
}
.support .jonathansmithgmailcom-Wf2Vgm {
  background-color: transparent;
  border: 0;
  height: 14px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 39px;
  white-space: nowrap;
  width: 222px;
}
.support .jonathansmithgmailcom-Wf2Vgm::placeholder {
  color: #31383c99;
}
.support .location-x9oCAk {
  background-color: transparent;
  height: 20px;
  left: 829px;
  position: absolute;
  top: 30px;
  width: 414px;
}
.support .locationonblack24dp-1-7Kj96A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.support .log-in-R6U8oG {
  background-color: transparent;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 55px;
}
.support .log-in-peDLF0 {
  background-color: transparent;
  height: 36px;
  left: 1417px;
  position: absolute;
  top: 0px;
  width: 120px;
}
.support .logo-peDLF0 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 10px;
  width: 87px;
}
.support .logo-x9oCAk {
  background-color: transparent;
  height: 16px;
  left: 212px;
  position: absolute;
  top: 32px;
  width: 87px;
}
.support .lorem-ipsum-dol-re-magna-aliqua-J61As1 {
  background-color: transparent;
  border: 0;
  height: 36px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 18.2px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 39px;
  width: 639px;
}
.support .lorem-ipsum-dol-re-magna-aliqua-J61As1::placeholder {
  color: #31383c99;
}
.support .mail-4mmOdd {
  background-color: transparent;
  height: 20px;
  left: 185px;
  position: absolute;
  top: 84px;
  width: 195px;
}
.support .mail-D4UDmI {
  background-color: transparent;
  height: 76px;
  left: 784px;
  position: absolute;
  top: 110px;
  width: 753px;
}
.support .mail-vACsAt {
  background-color: transparent;
  height: 76px;
  left: 0px;
  position: absolute;
  top: 110px;
  width: 361px;
}
.support .mail-vVqBYX {
  background-color: transparent;
  height: 20px;
  left: 185px;
  position: absolute;
  top: 84px;
  width: 168px;
}
.support .mail-x9oCAk {
  background-color: transparent;
  height: 20px;
  left: 381px;
  position: absolute;
  top: 30px;
  width: 175px;
}
.support .mail-yVltYJ {
  background-color: transparent;
  height: 76px;
  left: 392px;
  position: absolute;
  top: 110px;
  width: 361px;
}
.support .menu-peDLF0 {
  background-color: transparent;
  height: 14px;
  left: 848px;
  position: absolute;
  top: 11px;
  width: 535px;
}
.support .our-approved-brokers-O8x0SB {
  background-color: transparent;
  height: auto;
  left: 543px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 450px;
}
.support .our-approved-brokers-WPXhzQ {
  background-color: transparent;
  height: 306px;
  left: 212px;
  position: absolute;
  top: 1111px;
  width: 1537px;
}
.support .phone-4mmOdd {
  background-color: transparent;
  height: 20px;
  left: 400px;
  position: absolute;
  top: 84px;
  width: 172px;
}
.support .phone-vVqBYX {
  background-color: transparent;
  height: 20px;
  left: 373px;
  position: absolute;
  top: 84px;
  width: 172px;
}
.support .phone-x9oCAk {
  background-color: transparent;
  height: 20px;
  left: 598px;
  position: absolute;
  top: 30px;
  width: 190px;
}
.support .press-releases-TWDged {
  background-color: transparent;
  height: auto;
  left: 212px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 124px;
}
.support .privacy-policy-x9oCAk {
  background-color: transparent;
  height: auto;
  left: 1635px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 115px;
}
.support .rectangle-2025-x9oCAk {
  background-color: var(--porcelain);
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1960px;
}
.support .send-us-a-messa-ontact-you-soon-PiAILe {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 601px;
}
.support .send-us-a-messa-ontact-you-soon-WPXhzQ {
  background-color: transparent;
  height: 384px;
  left: 596px;
  position: absolute;
  top: 607px;
  width: 770px;
}
.support .sign-up-PiAILe {
  background-color: transparent;
  height: 40px;
  left: 44px;
  position: absolute;
  top: 312px;
  width: 683px;
}
.support .span0-6tYu9d {

}
.support .span0-FOrEEY {

}
.support .span0-ZrjZgb {

}
.support .span0-uU893Y {

}
.support .span1-6tYu9d {

}
.support .span1-FOrEEY {

}
.support .span1-ZrjZgb {

}
.support .span1-uU893Y {

}
.support .span2-6tYu9d {

}
.support .span2-FOrEEY {

}
.support .submit-0lnHNb {
  background-color: transparent;
  height: 12px;
  left: 314px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 51px;
}
.support .subtract-WPXhzQ {
  background-color: transparent;
  height: 341px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 108px;
  width: 1960px;
}
.support .support-TWDged {
  background-color: transparent;
  height: auto;
  left: 459px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 69px;
}
.support .support-WPXhzQ {
  background-color: transparent;
  height: auto;
  left: 900px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  white-space: nowrap;
  width: 164px;
}
.support .terms-conditions-x9oCAk {
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 163px;
}
.support .vector-077A3v {
  background-color: transparent;
  height: 67.86%;
  left: 8.02%;
  mix-blend-mode: normal;
  position: absolute;
  top: 16.07%;
  width: 83.97%;
}
.support .vector-0cOpzt {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.support .vector-28ET2r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 189px;
  width: 17px;
}
.support .vector-4wzK2C {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.support .vector-72abok {
  background-color: transparent;
  height: 70.00%;
  left: 7.76%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 84.49%;
}
.support .vector-95dZLj {
  background-color: transparent;
  height: 82.14%;
  left: 6.71%;
  mix-blend-mode: normal;
  position: absolute;
  top: 10.71%;
  width: 86.59%;
}
.support .vector-A8orr5 {
  background-color: transparent;
  height: 85.00%;
  left: 18.78%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.00%;
  width: 62.45%;
}
.support .vector-M0aGRp {
  background-color: transparent;
  height: 100%;
  left: 13.27%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 73.47%;
}
.support .vector-NdjHKU {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-O8x0SB {
  background-color: transparent;
  height: 20px;
  left: 1519px;
  mix-blend-mode: normal;
  position: absolute;
  top: 189px;
  width: 17px;
}
.support .vector-QzdXO8 {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-SLu6Ju {
  background-color: transparent;
  height: 1.79%;
  left: 49.34%;
  position: absolute;
  top: 49.11%;
  width: 1.31%;
}
.support .vector-SgY7pk {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-UjLzQ9 {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.support .vector-WOD66R {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.support .vector-Xen7AG {
  background-color: transparent;
  height: 1.79%;
  left: 49.34%;
  position: absolute;
  top: 49.11%;
  width: 1.31%;
}
.support .vector-YD7x1k {
  background-color: transparent;
  height: 1.79%;
  left: 49.34%;
  position: absolute;
  top: 49.11%;
  width: 1.31%;
}
.support .vector-acvHT4 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.support .vector-gEmCEs {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-gLO4my {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.support .vector-lvXDHx {
  background-color: transparent;
  height: 70.00%;
  left: 6.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 86.33%;
}
.support .vector-qaS78h {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-qqvA8K {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-s9SAxy {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.support .vector-unlcxR {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.support .vector-wIo5eJ {
  background-color: transparent;
  height: 70.00%;
  left: 7.76%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 84.49%;
}
.support .x-IRxZwn {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.support .x-ZWOrP6 {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.support .x1-O8x0SB {
  background-color: transparent;
  height: 214px;
  left: 49px;
  position: absolute;
  top: 92px;
  width: 706px;
}
.support .x2-O8x0SB {
  background-color: transparent;
  height: 214px;
  left: 784px;
  position: absolute;
  top: 92px;
  width: 706px;
}
.support .x2021-inbux-all-rights-reserved-x9oCAk {
  background-color: transparent;
  height: auto;
  left: 864px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: 233px;
}
.support .x234-801-111-233-bvV2x5 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 152px;
}
.support .x270-ozumba-mbad-ia-island-lagos-7Kj96A {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 376px;
}
.support .your-message-J61As1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 119px;
}
.support .your-message-PiAILe {
  background-color: transparent;
  height: 106px;
  left: 44px;
  position: absolute;
  top: 174px;
  width: 685px;
}
