/* screen - 1-1-home-page */

.x1-1-home-page {
  background-color: #ffffff;
  height: 100vh;
  margin: 0px;
  min-height: 3192px;
  min-width: 1960px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x1-1-home-page .about-us-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1154px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: 78px;
}
.x1-1-home-page .after-a-thoroug-vices-to-others-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 294px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2708px;
  width: 639px;
}
.x1-1-home-page .arrow-AJZaDB {
  background-color: transparent;
  height: 114px;
  left: 1024px;
  position: absolute;
  top: 1666px;
  width: 381px;
}
.x1-1-home-page .arrow-FGANhK {
  background-color: transparent;
  height: 114px;
  left: 1024px;
  position: absolute;
  top: 1244px;
  width: 381px;
}
.x1-1-home-page .arrow-xO1hyq {
  background-color: transparent;
  height: 114px;
  left: 555px;
  position: absolute;
  top: 1455px;
  transform: rotate(180deg);
  width: 381px;
}
.x1-1-home-page .asset-under-management-AWPJUn {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 252px;
}
.x1-1-home-page .bg-3sxexD {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.x1-1-home-page .bg-5z6Pba {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.x1-1-home-page .bg-AXbx13 {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.x1-1-home-page .bg-DdxWwJ {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.x1-1-home-page .bg-ExtqJF {
  background-color: transparent;
  height: 108px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.x1-1-home-page .bg-MCppcT {
  background-color: transparent;
  height: 188px;
  left: -64px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 512px;
}
.x1-1-home-page .bg-N2eFSx {
  background-color: transparent;
  height: 188px;
  left: -64px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 512px;
}
.x1-1-home-page .bg-a1XXPy {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}
.x1-1-home-page .bg-lue6wv {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.x1-1-home-page .bg-uu8qfx {
  background-color: transparent;
  height: 122px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 768px;
}
.x1-1-home-page .callblack24dp-1-vuvxxH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.x1-1-home-page .circles-AJZaDB {
  background-color: transparent;
  height: 750px;
  left: 470px;
  position: absolute;
  top: 1940px;
  width: 1021px;
}
.x1-1-home-page .circles-xO1hyq {
  background-color: transparent;
  height: 575px;
  left: 470px;
  position: absolute;
  top: 70px;
  width: 1021px;
}
.x1-1-home-page .complete-verification-kyc-lue6wv {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 414px;
}
.x1-1-home-page .easy-to-use-pla-d-administrator-DdxWwJ {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 595px;
}
.x1-1-home-page .ellipse-66-7Ax9Nu {
  background-color: transparent;
  border: 1px solid #bac3dc;
  border-radius: 170.13888549804688px/95.83333587646484px;
  height: 192px;
  left: 340px;
  opacity: 0.6;
  position: absolute;
  top: 192px;
  width: 340px;
}
.x1-1-home-page .ellipse-66-l9aFVT {
  background-color: transparent;
  border: 1px solid #bac3dc;
  border-radius: 170.13888549804688px/125px;
  height: 250px;
  left: 340px;
  opacity: 0.6;
  position: absolute;
  top: 250px;
  width: 340px;
}
.x1-1-home-page .ellipse-67-7Ax9Nu {
  background-color: transparent;
  border-radius: 238.19444274902344px/134.1666717529297px;
  height: 268px;
  left: 272px;
  opacity: 0.5;
  position: absolute;
  top: 153px;
  width: 476px;
}
.x1-1-home-page .ellipse-67-l9aFVT {
  background-color: transparent;
  border-radius: 238.19444274902344px/175px;
  height: 350px;
  left: 272px;
  opacity: 0.5;
  position: absolute;
  top: 200px;
  width: 476px;
}
.x1-1-home-page .ellipse-68-7Ax9Nu {
  background-color: transparent;
  border-radius: 306.25px/172.5px;
  height: 345px;
  left: 204px;
  opacity: 0.4;
  position: absolute;
  top: 115px;
  width: 612px;
}
.x1-1-home-page .ellipse-68-l9aFVT {
  background-color: transparent;
  border-radius: 306.25px/225px;
  height: 450px;
  left: 204px;
  opacity: 0.4;
  position: absolute;
  top: 150px;
  width: 612px;
}
.x1-1-home-page .ellipse-69-7Ax9Nu {
  background-color: transparent;
  border-radius: 374.3055419921875px/210.8333282470703px;
  height: 422px;
  left: 136px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 77px;
  width: 749px;
}
.x1-1-home-page .ellipse-69-l9aFVT {
  background-color: transparent;
  border-radius: 374.3055419921875px/275px;
  height: 550px;
  left: 136px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 100px;
  width: 749px;
}
.x1-1-home-page .ellipse-7-AJZaDB {
  background-color: transparent;
  height: 50px;
  left: 996px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2898px;
  width: 68px;
}
.x1-1-home-page .ellipse-70-7Ax9Nu {
  background-color: transparent;
  border-radius: 442.3611145019531px/249.1666717529297px;
  height: 498px;
  left: 68px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 38px;
  width: 885px;
}
.x1-1-home-page .ellipse-70-l9aFVT {
  background-color: transparent;
  border-radius: 442.3611145019531px/325px;
  height: 650px;
  left: 68px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 50px;
  width: 885px;
}
.x1-1-home-page .ellipse-71-7Ax9Nu {
  background-color: transparent;
  border-radius: 510.4166564941406px/287.5px;
  height: 575px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 1021px;
}
.x1-1-home-page .ellipse-71-l9aFVT {
  background-color: transparent;
  border-radius: 510.4166564941406px/375px;
  height: 750px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 1021px;
}
.x1-1-home-page .emailblack24dp-1-lOJvJs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.x1-1-home-page .faq-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1439px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: 37px;
}
.x1-1-home-page .field-OBjS05 {
  background-color: transparent;
  height: 36px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 119px;
}
.x1-1-home-page .home-AJZaDB {
  background-color: transparent;
  color: var(--azure-radiance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1060px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: 54px;
}
.x1-1-home-page .i-have-been-mos-olio-with-inbux-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1029px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2708px;
  width: 639px;
}
.x1-1-home-page .inbu-Jzcppk {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.x1-1-home-page .inbu-jKQlch {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 64px;
}
.x1-1-home-page .inforambertorguk-lOJvJs {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 141px;
}
.x1-1-home-page .inforambertorguk-vuvxxH {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 169px;
}
.x1-1-home-page .kemi-inc-AJZaDB {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1086px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2930px;
  white-space: nowrap;
  width: 77px;
}
.x1-1-home-page .kemi-popoola-AJZaDB {
  background-color: transparent;
  color: var(--outer-space);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 1086px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2902px;
  white-space: nowrap;
  width: 172px;
}
.x1-1-home-page .location-AJZaDB {
  background-color: transparent;
  height: 20px;
  left: 829px;
  position: absolute;
  top: 3098px;
  width: 424px;
}
.x1-1-home-page .locationonblack24dp-1-MxPoZY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 27px;
}
.x1-1-home-page .log-in-AJZaDB {
  background-color: transparent;
  height: 36px;
  left: 1629px;
  position: absolute;
  top: 32px;
  width: 120px;
}
.x1-1-home-page .log-in-OBjS05 {
  background-color: transparent;
  color: var(--outer-space);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 55px;
}
.x1-1-home-page .logo-AJZaDB {
  background-color: transparent;
  height: 16px;
  left: 212px;
  position: absolute;
  top: 3100px;
  width: 87px;
}
.x1-1-home-page .logo-xO1hyq {
  background-color: transparent;
  height: 16px;
  left: 212px;
  position: absolute;
  top: 42px;
  width: 87px;
}
.x1-1-home-page .mail-AJZaDB {
  background-color: transparent;
  height: 20px;
  left: 381px;
  position: absolute;
  top: 3098px;
  width: 179px;
}
.x1-1-home-page .manage-your-portfolio-DdxWwJ {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 334px;
}
.x1-1-home-page .number-DdxWwJ {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.x1-1-home-page .number-ExtqJF {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.x1-1-home-page .number-lue6wv {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.x1-1-home-page .number-uu8qfx {
  background-color: transparent;
  height: 60px;
  left: 33px;
  position: absolute;
  top: 24px;
  width: 84px;
}
.x1-1-home-page .paid-in-total-earnings-ptHtr6 {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 206px;
}
.x1-1-home-page .paid-invoices-hbB6QJ {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 131px;
}
.x1-1-home-page .phone-AJZaDB {
  background-color: transparent;
  height: 20px;
  left: 598px;
  position: absolute;
  top: 3098px;
  width: 208px;
}
.x1-1-home-page .pic-AJZaDB {
  background-color: transparent;
  height: 50px;
  left: 261px;
  position: absolute;
  top: 2898px;
  width: 68px;
}
.x1-1-home-page .press-releases-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1273px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: 133px;
}
.x1-1-home-page .privacy-policy-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1635px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3101px;
  white-space: nowrap;
  width: 120px;
}
.x1-1-home-page .ready-to-get-started-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 764px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1108px;
  white-space: nowrap;
  width: 420px;
}
.x1-1-home-page .rectangle-107-AJZaDB {
  background-color: transparent;
  height: 10px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2040px;
  width: 1536px;
}
.x1-1-home-page .rectangle-108-AJZaDB {
  background-color: transparent;
  height: 120px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1920px;
  width: 1536px;
}
.x1-1-home-page .rectangle-109-AJZaDB {
  background-color: transparent;
  height: 10px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2462px;
  width: 1536px;
}
.x1-1-home-page .rectangle-110-AJZaDB {
  background-color: transparent;
  height: 214px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2472px;
  width: 1536px;
}
.x1-1-home-page .rectangle-1720-AJZaDB {
  background-color: transparent;
  height: 196px;
  left: 996px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2685px;
  width: 703px;
}
.x1-1-home-page .rectangle-1720-xO1hyq {
  background-color: transparent;
  height: 196px;
  left: 261px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2685px;
  width: 703px;
}
.x1-1-home-page .rectangle-1977-AWPJUn {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.x1-1-home-page .rectangle-1977-ebFOrT {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.x1-1-home-page .rectangle-1977-hbB6QJ {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.x1-1-home-page .rectangle-1977-ptHtr6 {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}
.x1-1-home-page .rectangle-2025-AJZaDB {
  background-color: #f0f2f9;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3068px;
  width: 1960px;
}
.x1-1-home-page .register-uu8qfx {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: 126px;
}
.x1-1-home-page .ruth-inc-AJZaDB {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 351px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2930px;
  white-space: nowrap;
  width: 71px;
}
.x1-1-home-page .ruth-momodu-AJZaDB {
  background-color: transparent;
  color: var(--outer-space);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: 20px;
  left: 351px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2902px;
  white-space: nowrap;
  width: 175px;
}
.x1-1-home-page .sign-up-AJZaDB {
  background-color: transparent;
  height: 60px;
  left: 788px;
  position: absolute;
  top: 2282px;
  width: 386px;
}
.x1-1-home-page .sign-up-N2eFSx {
  background-color: transparent;
  height: 23px;
  left: 151px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 82px;
}
.x1-1-home-page .sign-up-and-tel-vestment-status-uu8qfx {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: 533px;
}
.x1-1-home-page .sign-up-xO1hyq {
  background-color: transparent;
  height: 60px;
  left: 788px;
  position: absolute;
  top: 426px;
  width: 386px;
}
.x1-1-home-page .simplify-get-th-rns-you-deserve-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 603px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2170px;
  white-space: nowrap;
  width: 737px;
}
.x1-1-home-page .span0-9yulSr {

}
.x1-1-home-page .span1-9yulSr {

}
.x1-1-home-page .start-now-MCppcT {
  background-color: transparent;
  height: 18px;
  left: 139px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 106px;
}
.x1-1-home-page .subtract-AJZaDB {
  background-color: transparent;
  height: 1px;
  left: 980px;
  mix-blend-mode: normal;
  position: absolute;
  top: 333px;
  width: 1px;
}
.x1-1-home-page .subtract-xO1hyq {
  background-color: transparent;
  height: 666px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 1960px;
}
.x1-1-home-page .support-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1519px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  white-space: nowrap;
  width: 70px;
}
.x1-1-home-page .terms-conditions-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 1431px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3101px;
  white-space: nowrap;
  width: 169px;
}
.x1-1-home-page .testimonials-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 855px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2592px;
  white-space: nowrap;
  width: 255px;
}
.x1-1-home-page .this-unlocks-ac-rtfolio-welcome-lue6wv {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 595px;
}
.x1-1-home-page .title-AJZaDB {
  background-color: transparent;
  color: var(--outer-space);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 505px;
  letter-spacing: 0.00px;
  line-height: 72px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 200px;
  white-space: nowrap;
  width: 933px;
}
.x1-1-home-page .vector-3dYFxP {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.x1-1-home-page .vector-7UYN4v {
  background-color: transparent;
  height: 12px;
  left: 1111px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  transform: rotate(-180deg);
  width: 24px;
}
.x1-1-home-page .vector-AJZaDB {
  background-color: transparent;
  height: 20px;
  left: 1731px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2761px;
  width: 17px;
}
.x1-1-home-page .vector-EziISn {
  background-color: transparent;
  height: 85.00%;
  left: 18.78%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.00%;
  width: 62.45%;
}
.x1-1-home-page .vector-FGANhK {
  background-color: transparent;
  height: 12px;
  left: 966px;
  mix-blend-mode: normal;
  position: absolute;
  top: 657px;
  width: 28px;
}
.x1-1-home-page .vector-HxXEwL {
  background-color: transparent;
  height: 70.00%;
  left: 6.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 86.33%;
}
.x1-1-home-page .vector-K35j28 {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.x1-1-home-page .vector-Q6GBhx {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.x1-1-home-page .vector-UUGdpi {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 367px;
}
.x1-1-home-page .vector-WqNXHz {
  background-color: transparent;
  height: 97px;
  left: 1126px;
  position: absolute;
  top: -1px;
  transform: rotate(-180deg);
  width: 367px;
}
.x1-1-home-page .vector-X1Kdfc {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.x1-1-home-page .vector-ikXOhh {
  background-color: transparent;
  height: 16px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.x1-1-home-page .vector-mPwfw0 {
  background-color: transparent;
  height: 12px;
  left: 357px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 24px;
}
.x1-1-home-page .vector-qudM7S {
  background-color: transparent;
  height: 2.50%;
  left: 49.08%;
  position: absolute;
  top: 48.75%;
  width: 1.84%;
}
.x1-1-home-page .vector-rMYVR1 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14px;
}
.x1-1-home-page .vector-v1hFJY {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 367px;
}
.x1-1-home-page .vector-x9E2TT {
  background-color: transparent;
  height: 75.00%;
  left: 11.43%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 77.14%;
}
.x1-1-home-page .vector-xO1hyq {
  background-color: transparent;
  height: 20px;
  left: 212px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2761px;
  width: 17px;
}
.x1-1-home-page .vector-yYppAP {
  background-color: transparent;
  height: 12px;
  left: 357px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 24px;
}
.x1-1-home-page .vendors-served-ebFOrT {
  background-color: transparent;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  width: 153px;
}
.x1-1-home-page .watch-your-holdings-grow-ExtqJF {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 391px;
}
.x1-1-home-page .welcome-to-the-future-of-AJZaDB {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 803px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 160px;
  white-space: nowrap;
  width: 361px;
}
.x1-1-home-page .why-us-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 894px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 789px;
  white-space: nowrap;
  width: 171px;
}
.x1-1-home-page .x-Jzcppk {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.x1-1-home-page .x-jKQlch {
  background-color: transparent;
  height: 16px;
  left: 66px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.x1-1-home-page .x1-5z6Pba {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 28px;
}
.x1-1-home-page .x1-AJZaDB {
  background-color: transparent;
  height: 122px;
  left: 212px;
  position: absolute;
  top: 1200px;
  width: 772px;
}
.x1-1-home-page .x1-xO1hyq {
  background-color: transparent;
  height: 107px;
  left: 212px;
  position: absolute;
  top: 881px;
  width: 363px;
}
.x1-1-home-page .x1200000-ebFOrT {
  background-color: transparent;
  height: 30px;
  left: 103px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 140px;
}
.x1-1-home-page .x130-b-hbB6QJ {
  background-color: transparent;
  height: 30px;
  left: 132px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 100px;
}
.x1-1-home-page .x2-AJZaDB {
  background-color: transparent;
  height: 143px;
  left: 980px;
  position: absolute;
  top: 1390px;
  width: 772px;
}
.x1-1-home-page .x2-AXbx13 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 28px;
}
.x1-1-home-page .x2-xO1hyq {
  background-color: transparent;
  height: 107px;
  left: 604px;
  position: absolute;
  top: 881px;
  width: 363px;
}
.x1-1-home-page .x20-b-AWPJUn {
  background-color: transparent;
  height: 30px;
  left: 143px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 73px;
}
.x1-1-home-page .x2021-inbux-all-rights-reserved-AJZaDB {
  background-color: transparent;
  color: var(--manatee);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 864px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3164px;
  white-space: nowrap;
  width: 243px;
}
.x1-1-home-page .x270-ozumba-mbad-ia-island-lagos-MxPoZY {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 386px;
}
.x1-1-home-page .x3-3sxexD {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 28px;
}
.x1-1-home-page .x3-AJZaDB {
  background-color: transparent;
  height: 143px;
  left: 212px;
  position: absolute;
  top: 1601px;
  width: 772px;
}
.x1-1-home-page .x3-xO1hyq {
  background-color: transparent;
  height: 107px;
  left: 996px;
  position: absolute;
  top: 881px;
  width: 363px;
}
.x1-1-home-page .x4-AJZaDB {
  background-color: transparent;
  height: 108px;
  left: 980px;
  position: absolute;
  top: 1812px;
  width: 770px;
}
.x1-1-home-page .x4-a1XXPy {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 28px;
}
.x1-1-home-page .x4-xO1hyq {
  background-color: transparent;
  height: 107px;
  left: 1388px;
  position: absolute;
  top: 881px;
  width: 363px;
}
.x1-1-home-page .x5-b-ptHtr6 {
  background-color: transparent;
  height: 30px;
  left: 154px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 54px;
}
.x1-1-home-page .you-are-in-bril-on-your-success-AJZaDB {
  background-color: transparent;
  height: auto;
  left: 482px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 304px;
  white-space: nowrap;
  width: 998px;
}




@media (min-width: 450px) {
  .card-wh{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .rectangle-1977-ebFOrT{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 760px) {
  .card-wh{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .rectangle-1977-ebFOrT{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card-wh{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.card{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}