/* screen - 1-1-home-page */

.x1-1-home-page {
  background-color: #ffffff;
  height: 100vh;
  margin: 0px;
  min-height: 3192px;
  min-width: 1960px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x1-1-home-page .after-a-thoroug-vices-to-others-CZU0Ni {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 616px;
}
.x1-1-home-page .arrow-FNxyxq {
  background-color: transparent;
  height: 110px;
  left: 331px;
  position: absolute;
  top: 333px;
  transform: rotate(180deg);
  width: 367px;
}
.x1-1-home-page .arrow-RqM0r3 {
  background-color: transparent;
  height: 110px;
  left: 782px;
  position: absolute;
  top: 131px;
  width: 367px;
}
.x1-1-home-page .arrow-ifUP1d {
  background-color: transparent;
  height: 110px;
  left: 782px;
  position: absolute;
  top: 536px;
  width: 367px;
}
.x1-1-home-page .asset-under-management-5W3kxZ {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  white-space: nowrap;
  width: 238px;
}
.x1-1-home-page .banner-AJZaDB {
  background-color: transparent;
  height: 643px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1890px;
}
.x1-1-home-page .bg-Ci02S0 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 741px;
}
.x1-1-home-page .bg-JDh3Sy {
  background-color: transparent;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 79px;
}
.x1-1-home-page .bg-PXrLky {
  background-color: transparent;
  height: 105px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 741px;
}
.x1-1-home-page .bg-S5aKYW {
  background-color: transparent;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 79px;
}
.x1-1-home-page .bg-aQ0WsI {
  background-color: transparent;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 79px;
}
.x1-1-home-page .bg-g7bn9P {
  background-color: transparent;
  height: 138px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 741px;
}
.x1-1-home-page .bg-ox6IgU {
  background-color: transparent;
  height: 138px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 741px;
}
.x1-1-home-page .bg-v2sSN5 {
  background-color: transparent;
  height: 186px;
  left: -64px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 499px;
}
.x1-1-home-page .bg-xe8PYx {
  background-color: transparent;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 79px;
}
.x1-1-home-page .callblack24dp-1-hH91sL {
  background-color: transparent;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 26px;
}
.x1-1-home-page .circles-iuxWUA {
  background-color: transparent;
  height: 721px;
  left: 453px;
  position: absolute;
  top: 19px;
  width: 984px;
}
.x1-1-home-page .complete-verification-kyc-ox6IgU {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  white-space: nowrap;
  width: 410px;
}
.x1-1-home-page .easy-to-use-pla-d-administrator-g7bn9P {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 574px;
}
.x1-1-home-page .ellipse-66-rPIVzx {
  background-color: transparent;
  border: 1px solid #bac3dc;
  border-radius: 164.06248474121094px/120.09803771972656px;
  height: 240px;
  left: 328px;
  opacity: 0.6;
  position: absolute;
  top: 240px;
  width: 328px;
}
.x1-1-home-page .ellipse-67-rPIVzx {
  background-color: transparent;
  border-radius: 229.6875px/168.1372528076172px;
  height: 336px;
  left: 262px;
  opacity: 0.5;
  position: absolute;
  top: 192px;
  width: 459px;
}
.x1-1-home-page .ellipse-68-rPIVzx {
  background-color: transparent;
  border-radius: 295.3125px/216.1764678955078px;
  height: 432px;
  left: 197px;
  opacity: 0.4;
  position: absolute;
  top: 144px;
  width: 591px;
}
.x1-1-home-page .ellipse-69-rPIVzx {
  background-color: transparent;
  border-radius: 360.9375305175781px/264.2156677246094px;
  height: 528px;
  left: 131px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 96px;
  width: 722px;
}
.x1-1-home-page .ellipse-7-UOswcy {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 205px;
  width: 66px;
}
.x1-1-home-page .ellipse-70-rPIVzx {
  background-color: transparent;
  border-radius: 426.5625px/312.2548828125px;
  height: 625px;
  left: 66px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 48px;
  width: 853px;
}
.x1-1-home-page .ellipse-71-rPIVzx {
  background-color: transparent;
  border-radius: 492.1875305175781px/360.2940979003906px;
  height: 721px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 984px;
}
.x1-1-home-page .emailblack24dp-1-fxiQGs {
  background-color: transparent;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 26px;
}
.x1-1-home-page .footer-iuxWUA {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 1103px;
  width: 1896px;
}
.x1-1-home-page .i-have-been-mos-olio-with-inbux-UOswcy {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 616px;
}
.x1-1-home-page .inbu-TxJHBB {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 62px;
}
.x1-1-home-page .inforambertorguk-fxiQGs {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 132px;
}
.x1-1-home-page .inforambertorguk-hH91sL {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 146px;
}
.x1-1-home-page .kemi-inc-UOswcy {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 236px;
  white-space: nowrap;
  width: 72px;
}
.x1-1-home-page .kemi-popoola-UOswcy {
  background-color: transparent;
  height: 19px;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 209px;
  white-space: nowrap;
  width: 166px;
}
.x1-1-home-page .location-MbKKAw {
  background-color: transparent;
  height: 19px;
  left: 799px;
  position: absolute;
  top: 29px;
  width: 400px;
}
.x1-1-home-page .locationonblack24dp-1-yYixNF {
  background-color: transparent;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 26px;
}
.x1-1-home-page .logo-MbKKAw {
  background-color: transparent;
  height: 15px;
  left: 205px;
  position: absolute;
  top: 31px;
  width: 84px;
}
.x1-1-home-page .mail-MbKKAw {
  background-color: transparent;
  height: 19px;
  left: 368px;
  position: absolute;
  top: 29px;
  width: 169px;
}
.x1-1-home-page .manage-your-portfolio-g7bn9P {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  white-space: nowrap;
  width: 320px;
}
.x1-1-home-page .number-Ci02S0 {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 23px;
  width: 81px;
}
.x1-1-home-page .number-PXrLky {
  background-color: transparent;
  height: 58px;
  left: 31px;
  position: absolute;
  top: 23px;
  width: 81px;
}
.x1-1-home-page .number-g7bn9P {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 23px;
  width: 81px;
}
.x1-1-home-page .number-ox6IgU {
  background-color: transparent;
  height: 58px;
  left: 31px;
  position: absolute;
  top: 23px;
  width: 81px;
}
.x1-1-home-page .paid-in-total-earnings-4jMrk4 {
  background-color: transparent;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  white-space: nowrap;
  width: 191px;
}
.x1-1-home-page .paid-invoices-vSXsGq {
  background-color: transparent;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  white-space: nowrap;
  width: 120px;
}
.x1-1-home-page .phone-MbKKAw {
  background-color: transparent;
  height: 19px;
  left: 576px;
  position: absolute;
  top: 29px;
  width: 183px;
}
.x1-1-home-page .pic-CZU0Ni {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 205px;
  width: 66px;
}
.x1-1-home-page .privacy-policy-MbKKAw {
  background-color: transparent;
  height: auto;
  left: 1576px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 111px;
}
.x1-1-home-page .ready-to-get-started-AJZaDB {
  background-color: transparent;
  height: 780px;
  left: 205px;
  position: absolute;
  top: 1065px;
  width: 1482px;
}
.x1-1-home-page .ready-to-get-started-ifUP1d {
  background-color: transparent;
  height: auto;
  left: 532px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 419px;
}
.x1-1-home-page .rectangle-107-iuxWUA {
  background-color: transparent;
  height: 10px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 115px;
  width: 1482px;
}
.x1-1-home-page .rectangle-108-iuxWUA {
  background-color: transparent;
  height: 116px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1482px;
}
.x1-1-home-page .rectangle-109-iuxWUA {
  background-color: transparent;
  height: 11px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 520px;
  width: 1482px;
}
.x1-1-home-page .rectangle-110-iuxWUA {
  background-color: transparent;
  height: 206px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 530px;
  width: 1482px;
}
.x1-1-home-page .rectangle-1720-CZU0Ni {
  background-color: transparent;
  height: 188px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 678px;
}
.x1-1-home-page .rectangle-1720-UOswcy {
  background-color: transparent;
  height: 188px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 678px;
}
.x1-1-home-page .rectangle-1977-4jMrk4 {
  background-color: transparent;
  height: 104px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}
.x1-1-home-page .rectangle-1977-5W3kxZ {
  background-color: transparent;
  height: 104px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}
.x1-1-home-page .rectangle-1977-QdLY46 {
  background-color: transparent;
  height: 104px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}
.x1-1-home-page .rectangle-1977-vSXsGq {
  background-color: transparent;
  height: 104px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 347px;
}
.x1-1-home-page .rectangle-2025-MbKKAw {
  background-color: #f0f2f9;
  height: 77px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1890px;
}
.x1-1-home-page .register-Ci02S0 {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  white-space: nowrap;
  width: 124px;
}
.x1-1-home-page .ruth-inc-CZU0Ni {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 236px;
  white-space: nowrap;
  width: 68px;
}
.x1-1-home-page .ruth-momodu-CZU0Ni {
  background-color: transparent;
  height: 19px;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 209px;
  white-space: nowrap;
  width: 171px;
}
.x1-1-home-page .sign-up-and-tel-vestment-status-Ci02S0 {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 514px;
}
.x1-1-home-page .sign-up-iuxWUA {
  background-color: transparent;
  height: 58px;
  left: 760px;
  position: absolute;
  top: 348px;
  width: 372px;
}
.x1-1-home-page .simplify-get-th-rns-you-deserve-AJZaDB {
  background-color: transparent;
  height: 1207px;
  left: 0px;
  position: absolute;
  top: 1960px;
  width: 1892px;
}
.x1-1-home-page .simplify-get-th-rns-you-deserve-iuxWUA {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  white-space: nowrap;
  width: 730px;
}
.x1-1-home-page .span0-9xDuoR {

}
.x1-1-home-page .span0-e7Axhx {

}
.x1-1-home-page .span1-9xDuoR {

}
.x1-1-home-page .span1-e7Axhx {
  color: var(--manatee);
  font-family: var(--font-family-product_sans-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.x1-1-home-page .start-now-v2sSN5 {
  background-color: transparent;
  height: 18px;
  left: 130px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20px;
  width: 110px;
}
.x1-1-home-page .terms-conditions-MbKKAw {
  background-color: transparent;
  height: auto;
  left: 1379px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 157px;
}
.x1-1-home-page .testimonials-iuxWUA {
  background-color: transparent;
  height: 342px;
  left: 205px;
  position: absolute;
  top: 646px;
  width: 1482px;
}
.x1-1-home-page .this-unlocks-ac-rtfolio-welcome-ox6IgU {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 574px;
}
.x1-1-home-page .title-cqPUt2 {
  background-color: transparent;
  height: auto;
  left: 620px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 244px;
}
.x1-1-home-page .vector-7VPbKE {
  background-color: transparent;
  height: 10px;
  left: 344px;
  mix-blend-mode: normal;
  position: absolute;
  top: 99px;
  width: 22px;
}
.x1-1-home-page .vector-7g3bmP {
  background-color: transparent;
  height: 10px;
  left: 344px;
  mix-blend-mode: normal;
  position: absolute;
  top: 99px;
  width: 22px;
}
.x1-1-home-page .vector-8mHguB {
  background-color: transparent;
  height: 2.60%;
  left: 49.05%;
  position: absolute;
  top: 48.70%;
  width: 1.90%;
}
.x1-1-home-page .vector-Bf3Kyg {
  background-color: transparent;
  height: 93px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 354px;
}
.x1-1-home-page .vector-MYHvr2 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 13px;
}
.x1-1-home-page .vector-SHorDo {
  background-color: transparent;
  height: 2.60%;
  left: 49.05%;
  position: absolute;
  top: 48.70%;
  width: 1.90%;
}
.x1-1-home-page .vector-VvqO2U {
  background-color: transparent;
  height: 16px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 8px;
}
.x1-1-home-page .vector-YT1r09 {
  background-color: transparent;
  height: 11px;
  left: 1072px;
  mix-blend-mode: normal;
  position: absolute;
  top: 98px;
  transform: rotate(-180deg);
  width: 22px;
}
.x1-1-home-page .vector-cqPUt2 {
  background-color: transparent;
  height: 20px;
  left: 1465px;
  mix-blend-mode: normal;
  position: absolute;
  top: 162px;
  width: 16px;
}
.x1-1-home-page .vector-fdCmNf {
  background-color: transparent;
  height: 94px;
  left: 1086px;
  position: absolute;
  top: -2px;
  transform: rotate(-180deg);
  width: 354px;
}
.x1-1-home-page .vector-hBrUcm {
  background-color: transparent;
  height: 78.06%;
  left: 10.95%;
  mix-blend-mode: normal;
  position: absolute;
  top: 10.97%;
  width: 78.10%;
}
.x1-1-home-page .vector-nxAYbK {
  background-color: transparent;
  height: 67.65%;
  left: 7.14%;
  mix-blend-mode: normal;
  position: absolute;
  top: 16.17%;
  width: 85.71%;
}
.x1-1-home-page .vector-oXPASq {
  background-color: transparent;
  height: 93px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 354px;
}
.x1-1-home-page .vector-qLGxNJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 162px;
  width: 16px;
}
.x1-1-home-page .vector-qn4tyN {
  background-color: transparent;
  height: 2.60%;
  left: 49.05%;
  position: absolute;
  top: 48.70%;
  width: 1.90%;
}
.x1-1-home-page .vector-vNSuSx {
  background-color: transparent;
  height: 88.47%;
  left: 19.52%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.27%;
  width: 60.95%;
}
.x1-1-home-page .vendors-served-QdLY46 {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  white-space: nowrap;
  width: 145px;
}
.x1-1-home-page .watch-your-holdings-grow-PXrLky {
  background-color: transparent;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: 387px;
}
.x1-1-home-page .why-us-AJZaDB {
  background-color: transparent;
  height: 191px;
  left: 205px;
  position: absolute;
  top: 758px;
  width: 1483px;
}
.x1-1-home-page .why-us-BZOoTQ {
  background-color: transparent;
  height: auto;
  left: 658px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 167px;
}
.x1-1-home-page .x-TxJHBB {
  background-color: transparent;
  height: 15px;
  left: 64px;
  position: absolute;
  top: 1px;
  width: 20px;
}
.x1-1-home-page .x1-BZOoTQ {
  background-color: transparent;
  height: 103px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 350px;
}
.x1-1-home-page .x1-cqPUt2 {
  background-color: transparent;
  height: 254px;
  left: 47px;
  position: absolute;
  top: 88px;
  width: 683px;
}
.x1-1-home-page .x1-ifUP1d {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 744px;
}
.x1-1-home-page .x1-xe8PYx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 20px;
}
.x1-1-home-page .x1200000-QdLY46 {
  background-color: transparent;
  height: 27px;
  left: 98px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 152px;
}
.x1-1-home-page .x130-b-vSXsGq {
  background-color: transparent;
  height: 29px;
  left: 124px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 98px;
}
.x1-1-home-page .x2-BZOoTQ {
  background-color: transparent;
  height: 103px;
  left: 378px;
  position: absolute;
  top: 88px;
  width: 350px;
}
.x1-1-home-page .x2-aQ0WsI {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 26px;
}
.x1-1-home-page .x2-cqPUt2 {
  background-color: transparent;
  height: 254px;
  left: 756px;
  position: absolute;
  top: 88px;
  width: 683px;
}
.x1-1-home-page .x2-ifUP1d {
  background-color: transparent;
  height: 137px;
  left: 740px;
  position: absolute;
  top: 271px;
  width: 744px;
}
.x1-1-home-page .x20-b-5W3kxZ {
  background-color: transparent;
  height: 29px;
  left: 136px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 76px;
}
.x1-1-home-page .x2021-inbux-all-rights-reserved-MbKKAw {
  background-color: transparent;
  height: auto;
  left: 833px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 92px;
  white-space: nowrap;
  width: 225px;
}
.x1-1-home-page .x270-ozumba-mbad-ia-island-lagos-yYixNF {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 363px;
}
.x1-1-home-page .x3-BZOoTQ {
  background-color: transparent;
  height: 103px;
  left: 756px;
  position: absolute;
  top: 88px;
  width: 350px;
}
.x1-1-home-page .x3-S5aKYW {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 26px;
}
.x1-1-home-page .x3-ifUP1d {
  background-color: transparent;
  height: 137px;
  left: 0px;
  position: absolute;
  top: 474px;
  width: 744px;
}
.x1-1-home-page .x4-BZOoTQ {
  background-color: transparent;
  height: 103px;
  left: 1134px;
  position: absolute;
  top: 88px;
  width: 350px;
}
.x1-1-home-page .x4-JDh3Sy {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 28px;
}
.x1-1-home-page .x4-ifUP1d {
  background-color: transparent;
  height: 104px;
  left: 740px;
  position: absolute;
  top: 676px;
  width: 742px;
}
.x1-1-home-page .x5-b-4jMrk4 {
  background-color: transparent;
  height: 29px;
  left: 146px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 55px;
}
/* screen - 1-2-home-page */

.x1-2-home-page {
  background-color: #ffffff;
  height: 100vh;
  margin: 0px;
  min-height: 3192px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x1-2-home-page .after-a-thoroug-vices-to-others-S83GUr {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: 470px;
}
.x1-2-home-page .arrow-6HRa38 {
  background-color: transparent;
  height: 114px;
  left: 252px;
  position: absolute;
  top: 347px;
  transform: rotate(180deg);
  width: 280px;
}
.x1-2-home-page .arrow-fzifeT {
  background-color: transparent;
  height: 114px;
  left: 596px;
  position: absolute;
  top: 558px;
  width: 280px;
}
.x1-2-home-page .arrow-tzcJGe {
  background-color: transparent;
  height: 114px;
  left: 596px;
  position: absolute;
  top: 136px;
  width: 280px;
}
.x1-2-home-page .asset-under-management-VYzfGh {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .banner-I8PQxC {
  background-color: transparent;
  height: 669px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.x1-2-home-page .bg-2HtRJj {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}
.x1-2-home-page .bg-2qfxQS {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}
.x1-2-home-page .bg-32L0Mu {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}
.x1-2-home-page .bg-8Xky3o {
  background-color: transparent;
  height: 188px;
  left: -64px;
  mix-blend-mode: normal;
  position: absolute;
  top: -54px;
  width: 410px;
}
.x1-2-home-page .bg-D5X7tN {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 564px;
}
.x1-2-home-page .bg-FQHQKK {
  background-color: transparent;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}
.x1-2-home-page .bg-J40WEL {
  background-color: transparent;
  height: 108px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 564px;
}
.x1-2-home-page .bg-kUxbrn {
  background-color: transparent;
  height: 143px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 564px;
}
.x1-2-home-page .bg-n6vcm5 {
  background-color: transparent;
  height: 122px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 564px;
}
.x1-2-home-page .callblack24dp-1-5DyFf2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 20px;
}
.x1-2-home-page .circles-xppIXy {
  background-color: transparent;
  height: 750px;
  left: 345px;
  position: absolute;
  top: 20px;
  width: 750px;
}
.x1-2-home-page .complete-verification-kyc-D5X7tN {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .easy-to-use-pla-d-administrator-kUxbrn {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 438px;
}
.x1-2-home-page .ellipse-66-UFnttT {
  background-color: transparent;
  border: 1px solid #bac3dc;
  border-radius: 125px;
  height: 250px;
  left: 250px;
  opacity: 0.6;
  position: absolute;
  top: 250px;
  width: 250px;
}
.x1-2-home-page .ellipse-67-UFnttT {
  background-color: transparent;
  border-radius: 175px;
  height: 350px;
  left: 200px;
  opacity: 0.5;
  position: absolute;
  top: 200px;
  width: 350px;
}
.x1-2-home-page .ellipse-68-UFnttT {
  background-color: transparent;
  border-radius: 225px;
  height: 450px;
  left: 150px;
  opacity: 0.4;
  position: absolute;
  top: 150px;
  width: 450px;
}
.x1-2-home-page .ellipse-69-UFnttT {
  background-color: transparent;
  border-radius: 275px;
  height: 550px;
  left: 100px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 100px;
  width: 550px;
}
.x1-2-home-page .ellipse-7-7h1k1p {
  background-color: transparent;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 50px;
}
.x1-2-home-page .ellipse-70-UFnttT {
  background-color: transparent;
  border-radius: 325px;
  height: 650px;
  left: 50px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 50px;
  width: 650px;
}
.x1-2-home-page .ellipse-71-UFnttT {
  background-color: transparent;
  border-radius: 375px;
  height: 750px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 750px;
}
.x1-2-home-page .emailblack24dp-1-1w97R8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 20px;
}
.x1-2-home-page .footer-xppIXy {
  background-color: transparent;
  height: 108px;
  left: 0px;
  position: absolute;
  top: 1148px;
  width: 1446px;
}
.x1-2-home-page .i-have-been-mos-olio-with-inbux-7h1k1p {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: 470px;
}
.x1-2-home-page .inbu-uHPAbf {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}
.x1-2-home-page .inforambertorguk-1w97R8 {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .inforambertorguk-5DyFf2 {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .kemi-inc-7h1k1p {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .kemi-popoola-7h1k1p {
  background-color: transparent;
  height: 20px;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 218px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .location-xQ6vaz {
  background-color: transparent;
  height: 20px;
  left: 609px;
  position: absolute;
  top: 30px;
  width: 305px;
}
.x1-2-home-page .locationonblack24dp-1-MwGCBP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 20px;
}
.x1-2-home-page .logo-xQ6vaz {
  background-color: transparent;
  height: 16px;
  left: 156px;
  position: absolute;
  top: 32px;
  width: 64px;
}
.x1-2-home-page .mail-xQ6vaz {
  background-color: transparent;
  height: 20px;
  left: 280px;
  position: absolute;
  top: 30px;
  width: 129px;
}
.x1-2-home-page .manage-your-portfolio-kUxbrn {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .number-D5X7tN {
  background-color: transparent;
  height: 60px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 62px;
}
.x1-2-home-page .number-J40WEL {
  background-color: transparent;
  height: 60px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 62px;
}
.x1-2-home-page .number-kUxbrn {
  background-color: transparent;
  height: 60px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 62px;
}
.x1-2-home-page .number-n6vcm5 {
  background-color: transparent;
  height: 60px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 62px;
}
.x1-2-home-page .paid-in-total-earnings-fHSNL4 {
  background-color: transparent;
  height: auto;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .paid-invoices-MFqvQ0 {
  background-color: transparent;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .phone-xQ6vaz {
  background-color: transparent;
  height: 20px;
  left: 439px;
  position: absolute;
  top: 30px;
  width: 140px;
}
.x1-2-home-page .pic-S83GUr {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 50px;
}
.x1-2-home-page .privacy-policy-xQ6vaz {
  background-color: transparent;
  height: auto;
  left: 1201px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .ready-to-get-started-I8PQxC {
  background-color: transparent;
  height: 812px;
  left: 156px;
  position: absolute;
  top: 1108px;
  width: 1130px;
}
.x1-2-home-page .ready-to-get-started-fzifeT {
  background-color: transparent;
  height: auto;
  left: 405px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .rectangle-107-xppIXy {
  background-color: transparent;
  height: 10px;
  left: 156px;
  mix-blend-mode: normal;
  position: absolute;
  top: 120px;
  width: 1128px;
}
.x1-2-home-page .rectangle-108-xppIXy {
  background-color: transparent;
  height: 120px;
  left: 156px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1128px;
}
.x1-2-home-page .rectangle-109-xppIXy {
  background-color: transparent;
  height: 10px;
  left: 156px;
  mix-blend-mode: normal;
  position: absolute;
  top: 542px;
  width: 1128px;
}
.x1-2-home-page .rectangle-110-xppIXy {
  background-color: transparent;
  height: 214px;
  left: 156px;
  mix-blend-mode: normal;
  position: absolute;
  top: 552px;
  width: 1128px;
}
.x1-2-home-page .rectangle-1720-7h1k1p {
  background-color: transparent;
  height: 194px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 516px;
}
.x1-2-home-page .rectangle-1720-S83GUr {
  background-color: transparent;
  height: 194px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 516px;
}
.x1-2-home-page .rectangle-1977-I9FA5S {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 264px;
}
.x1-2-home-page .rectangle-1977-MFqvQ0 {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 264px;
}
.x1-2-home-page .rectangle-1977-VYzfGh {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 264px;
}
.x1-2-home-page .rectangle-1977-fHSNL4 {
  background-color: transparent;
  height: 107px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 264px;
}
.x1-2-home-page .rectangle-2025-xQ6vaz {
  background-color: #f0f2f9;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.x1-2-home-page .register-n6vcm5 {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .ruth-inc-S83GUr {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .ruth-momodu-S83GUr {
  background-color: transparent;
  height: 20px;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 218px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .sign-up-and-tel-vestment-status-n6vcm5 {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 392px;
}
.x1-2-home-page .sign-up-xppIXy {
  background-color: transparent;
  height: 60px;
  left: 579px;
  position: absolute;
  top: 362px;
  width: 284px;
}
.x1-2-home-page .simplify-get-th-rns-you-deserve-I8PQxC {
  background-color: transparent;
  height: 1256px;
  left: 0px;
  position: absolute;
  top: 1920px;
  width: 1442px;
}
.x1-2-home-page .simplify-get-th-rns-you-deserve-xppIXy {
  background-color: transparent;
  height: auto;
  left: 443px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 250px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .span0-KRM1Z3 {

}
.x1-2-home-page .span0-xdk9Cq {

}
.x1-2-home-page .span1-KRM1Z3 {

}
.x1-2-home-page .span1-xdk9Cq {
  color: var(--manatee);
  font-family: var(--font-family-product_sans-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.x1-2-home-page .start-now-8Xky3o {
  background-color: transparent;
  height: 18px;
  left: 86px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 110px;
}
.x1-2-home-page .terms-conditions-xQ6vaz {
  background-color: transparent;
  height: auto;
  left: 1051px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .testimonials-fH6Oor {
  background-color: transparent;
  height: auto;
  left: 472px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .testimonials-xppIXy {
  background-color: transparent;
  height: 356px;
  left: 156px;
  position: absolute;
  top: 672px;
  width: 1130px;
}
.x1-2-home-page .this-unlocks-ac-rtfolio-welcome-D5X7tN {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 20.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 438px;
}
.x1-2-home-page .vector-0xle7y {
  background-color: transparent;
  height: 70.00%;
  left: 7.50%;
  mix-blend-mode: normal;
  position: absolute;
  top: 15.00%;
  width: 85.00%;
}
.x1-2-home-page .vector-3JCzAf {
  background-color: transparent;
  height: 16px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 10px;
}
.x1-2-home-page .vector-E4FPmW {
  background-color: transparent;
  height: 20px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 169px;
  width: 12px;
}
.x1-2-home-page .vector-HtsAtu {
  background-color: transparent;
  height: 2.50%;
  left: 48.75%;
  position: absolute;
  top: 48.75%;
  width: 2.50%;
}
.x1-2-home-page .vector-J5rin6 {
  background-color: transparent;
  height: 85.00%;
  left: 20.00%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.00%;
  width: 60.00%;
}
.x1-2-home-page .vector-QjQZwU {
  background-color: transparent;
  height: 2.50%;
  left: 48.75%;
  position: absolute;
  top: 48.75%;
  width: 2.50%;
}
.x1-2-home-page .vector-WIxvPz {
  background-color: transparent;
  height: 12px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 18px;
}
.x1-2-home-page .vector-XB6iys {
  background-color: transparent;
  height: 2.50%;
  left: 48.75%;
  position: absolute;
  top: 48.75%;
  width: 2.50%;
}
.x1-2-home-page .vector-dFiOT0 {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 270px;
}
.x1-2-home-page .vector-eC2CZA {
  background-color: transparent;
  height: 97px;
  left: 827px;
  position: absolute;
  top: -1px;
  transform: rotate(-180deg);
  width: 270px;
}
.x1-2-home-page .vector-fH6Oor {
  background-color: transparent;
  height: 20px;
  left: 1116px;
  mix-blend-mode: normal;
  position: absolute;
  top: 169px;
  width: 12px;
}
.x1-2-home-page .vector-hHRauy {
  background-color: transparent;
  height: 12px;
  left: 816px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  transform: rotate(-180deg);
  width: 18px;
}
.x1-2-home-page .vector-nFrhq4 {
  background-color: transparent;
  height: 16px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 6px;
}
.x1-2-home-page .vector-naF1zV {
  background-color: transparent;
  height: 97px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 270px;
}
.x1-2-home-page .vector-pRqhKR {
  background-color: transparent;
  height: 75.00%;
  left: 12.50%;
  mix-blend-mode: normal;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}
.x1-2-home-page .vector-rBIyLl {
  background-color: transparent;
  height: 12px;
  left: 262px;
  mix-blend-mode: normal;
  position: absolute;
  top: 102px;
  width: 18px;
}
.x1-2-home-page .vendors-served-I9FA5S {
  background-color: transparent;
  height: auto;
  left: 78px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .watch-your-holdings-grow-J40WEL {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .why-us-I8PQxC {
  background-color: transparent;
  height: 199px;
  left: 156px;
  position: absolute;
  top: 789px;
  width: 1130px;
}
.x1-2-home-page .why-us-aUJtse {
  background-color: transparent;
  height: auto;
  left: 501px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x-uHPAbf {
  background-color: transparent;
  height: 16px;
  left: 49px;
  position: absolute;
  top: 1px;
  width: 15px;
}
.x1-2-home-page .x1-2qfxQS {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x1-aUJtse {
  background-color: transparent;
  height: 107px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 268px;
}
.x1-2-home-page .x1-fH6Oor {
  background-color: transparent;
  height: 264px;
  left: 36px;
  position: absolute;
  top: 92px;
  width: 522px;
}
.x1-2-home-page .x1-fzifeT {
  background-color: transparent;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 568px;
}
.x1-2-home-page .x1200000-I9FA5S {
  background-color: transparent;
  height: 27px;
  left: 56px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 152px;
}
.x1-2-home-page .x130-b-MFqvQ0 {
  background-color: transparent;
  height: 29px;
  left: 83px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 98px;
}
.x1-2-home-page .x2-FQHQKK {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x2-aUJtse {
  background-color: transparent;
  height: 107px;
  left: 288px;
  position: absolute;
  top: 92px;
  width: 268px;
}
.x1-2-home-page .x2-fH6Oor {
  background-color: transparent;
  height: 264px;
  left: 576px;
  position: absolute;
  top: 92px;
  width: 522px;
}
.x1-2-home-page .x2-fzifeT {
  background-color: transparent;
  height: 143px;
  left: 564px;
  position: absolute;
  top: 282px;
  width: 568px;
}
.x1-2-home-page .x20-b-VYzfGh {
  background-color: transparent;
  height: 29px;
  left: 95px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 76px;
}
.x1-2-home-page .x2021-inbux-all-rights-reserved-xQ6vaz {
  background-color: transparent;
  height: auto;
  left: 635px;
  letter-spacing: 0.00px;
  line-height: 12px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 96px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x270-ozumba-mbad-ia-island-lagos-MwGCBP {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x3-2HtRJj {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x3-aUJtse {
  background-color: transparent;
  height: 107px;
  left: 576px;
  position: absolute;
  top: 92px;
  width: 268px;
}
.x1-2-home-page .x3-fzifeT {
  background-color: transparent;
  height: 143px;
  left: 0px;
  position: absolute;
  top: 493px;
  width: 568px;
}
.x1-2-home-page .x4-32L0Mu {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: auto;
}
.x1-2-home-page .x4-aUJtse {
  background-color: transparent;
  height: 107px;
  left: 864px;
  position: absolute;
  top: 92px;
  width: 268px;
}
.x1-2-home-page .x4-fzifeT {
  background-color: transparent;
  height: 108px;
  left: 564px;
  position: absolute;
  top: 704px;
  width: 566px;
}
.x1-2-home-page .x5-b-fHSNL4 {
  background-color: transparent;
  height: 29px;
  left: 105px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 55px;
}
@media screen and (max-width: 1959px) {
  .screen.x1-1-home-page { 
    display: none;
   }
}
@media screen and (min-width: 1960px) {
  .screen.x1-2-home-page { 
    display: none;
   }
}