@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

@font-face {
  font-family: "Product Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://anima-uploads.s3.amazonaws.com/596db24aa0dc3c000d9a4ed2/product-sans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/5c42e861994d560009dee8c8/Product Sans Regular.ttf")
    format("truetype");
}

* {
  box-sizing: border-box;
}
.hidden,
.hidden * {
  visibility: hidden;
  pointer-events: none;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
